.bg {
    padding-top: 70px;
    padding-bottom: 300px;
    
    background-color: rgb(15, 1, 94);
    background-image: radial-gradient(at 50% 100%, rgba(123, 22, 255, 0.75), rgb(15, 1, 94));
  }
.outer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}
.side {
  width: 25%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 20px;
  padding-top: 10px;
  border-radius: 20px;
}
input {
  width: 100%;
  align-items: center;
}
label {
  color: rgb(15, 1, 94);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
}
input[type=text]{
  color: rgb(15, 1, 94);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  width: 100%;
  border-color: #ffffff;
  border-style: solid;
  border-bottom-color: #471697;
  box-shadow: none;
}
input:focus, textarea:focus{
  outline: none;
  color: rgb(15, 1, 94);
}

select{
  color: rgb(15, 1, 94);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  width: 100%;
  outline: none;
  border-color: #ffffff;
}
select:focus {
  color: rgb(15, 1, 94);
}
.box{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.space {
  padding-top: 20px;
}

.size {
  width: 25%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  padding-top: 1%;
  border-radius: 20px;
  margin: 1rem;
}

/* .form {
    background: yellow;
    display: flex;
    height: 10em;
    align-items: center;
} */


.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-md-3{
  display: inline-block;
  margin-left:-4px;
}
.col-md-3 img{
  width:100%;
  height:auto;
}
body .carousel-indicators li{
  background-color:red;
}
body .carousel-control-prev-icon,
body .carousel-control-next-icon{
  background-color:red;
}
body .no-padding{
  padding-left: 0;
  padding-right: 0;
}

/* .col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row-1 {height: 8.33%;}
.row-2 {height: 16.66%;}
.row-3 {height: 25%;}
.row-4 {height: 33.33%;}
.row-5 {height: 41.66%;}
.row-6 {height: 50%;}
.row-7 {height: 58.33%;}
.row-8 {height: 66.66%;}
.row-9 {height: 75%;}
.row-10 {height: 83.33%;}
.row-11 {height: 91.66%;}
.row-12 {height: 100%;} */

html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.btn {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #471697;
  border-color: #471697;
  border-width: 3px;
  border-radius: 10px;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  font-weight: bold;
}

.btn:hover {
  background-color: #ffffff;
  color: #471697;
  border-color: #471697;
}
